.clear{
    clear:both;
}
 
#top_left{
    width: 300px;
    float: left;
    margin-left: 100px;
}
#top_right{
    width:400px;
    float: right;
    margin-top: 15px;
    margin-right: 70px;
    font-size: 13px;
}
#top_right img{
    margin-bottom: -3.5px;
}
#top_right a{
    text-decoration: none;
    color:#06F;
}
#top_right a:hover{
    color:#909;
}
#menu{
    background-color: rgb(4, 44, 4);
    border-top:5px solid #82B211;
    padding: 10px 0px;
    text-align: center;
    margin-left: 170px;
    margin-right: 170px;
}
#menu a{
    margin: 0 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
#menu a:hover{
    color: yellow;
}

#menu .now {
    color: yellow;
}

#search{
    background-color: #B6B684;
    padding:7px 0;
    text-align: right;
    margin-left: 170px;
    margin-right: 170px;
}
#search input[type='image']{
    /* margin-top: 5px; */
    margin-right: 50px;
    margin-bottom: -4px;
}
#search input[type='text']{
    height: 16px;
    border:1px solid #999;
}
    
/*-------------------------------------------------------*/
    
#content{
    width:900px;
    margin:8px auto 15px;/*auto div居中*/
}
    
#content_top{
    text-align: right;
    font-size:13px;
}
#content_bottom{
    border:1px solid #999;
    background-color: #FCFDEF;
    padding:10px 15px;
}
#content_bottom h1{
    font-size: 15px;
    display: inline;
}
#content_bottom span{
    font-size: 13px;
}
#productlist_img img{
    width: 100%;
}
#booklist a{
    text-decoration: none;
    color:#06F;
}
#booklist a:hover{
    color:#909;
}
.book{
    float: left;
    width: 25%;
    text-align: center;
    padding:10px 0px;
}
.bookimg img{
    width: 130px;
    height: 196px;
}
#jumpPage{
    text-align: center;
    margin: 10px;
}
#jumpPage a{
    padding:2px 6px;
    border: 1px solid #9AAFE5;
    text-decoration: none;
    color:#9AAFE5;
}
#jumpPage a:hover{
    color:#2B66A5;
    border: 1px solid #2B66A5;
}
.current{
    background-color: blue;
}

.main{
	width:960px;
	height: 500px;
}
.sideleft{
	width:360px;
	height: 250px;
	float: left;
	padding:50px 30px
}
.sideleft img{
	padding: 5px 0;
	width: 450px;
}
.sideleft h2{
    padding: 0px 0;
    margin-top: -1px;
	color: rgb(8, 70, 34);
}
.sideright{
	width: 400px;
	height: 450px;
    float: right;
    margin-right: 110px;
}
.sideright .index{
	width: 330px;
	height: 360px;
	background-color:#FCFDEF;
    margin: 50px 90px;
    border: 1px solid black;
}
.headline{
	font-size: 22px;
	text-align: center;
	padding: 5px;
}
.main input[type="text"],input[type="password"],
input[type="submit"]{
	-web-kit-appearance:none;
  	-moz-appearance: none;
  	display: block;
  	margin: 0 auto;
  	font-size:15px;
  	width: 240px;
}
.main input[type="text"],input[type="password"],{
	height:35px;
	border-radius:3px;
	border:1px solid #c8cccf;
	color:#6a6f77;
	outline:0;
}
.main input[type="submit"]{
	margin-top: 25px;
	height: 35px;
	background: #357eb8;
	color: #bcedff;
	font-weight: bold;
	font-size: 16px;
}
.main input[type="submit"]:hover{
	background: #0e62a3;
	cursor: pointer;
}
.astyle{
	margin: 5px 0 5px 42px;
	font-size:17px; 
	color: #6a6f77;
}
.bstyle{
	display: block;
	float: left;
	margin-left: 46px;
	font-size: 15px;
}
.cstyle{
	display: block;
	float: right;
	margin-right: 46px;
	font-size: 15px;
}
.cstyle a{
    text-decoration: none;
    color:#06F;
}
.cstyle a:hover{
    color:#909;
}
